* {
  margin: 0;
}

p {
  font-size: large;
}

/* ==================================== */

.inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 0px;
  transition: all 0.3s;
}

label {
  font-weight: 600;
}
.forgot-password {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
  cursor: pointer;
}
p span.login-btn {
  color: red;
}

/* ==============  Button  ============= */
button.color {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
  margin-top: 10px;
  border-radius: 0px;
  background-color: rgba(248, 145, 11, 0.904);
  color: white;
}

/*  =========    ========  */
.login-alert {
  font-size: 13px;
  margin: 5px;
  padding: 10px 10px;
}
